<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- enabling component scanning -->
	<context:component-scan base-package="com.springboot.components"></context:component-scan>
	
	<!-- declare property files here -->
	<context:property-placeholder location="classpath:mySpringData.properties"/>
	
	
    <!-- Define your beans here : default scope is Singleton-->
    
    <bean id="trackCoach" class="com.springboot.bean.TrackCoach" init-method="startItUp" destroy-method="loosenItUp">
 		<constructor-arg ref="myFortuneService" />
 	</bean>
 	
 	
 	<!-- scope="prototype" will create new bean per request -->
 	<bean id="cricketCoach" class="com.springboot.bean.CricketCoach" >
 		<!-- injecting a bean -->
 		<property name="fortuneService" ref="myFortuneService"></property>
 		<!-- injecting literal values -->
 		<!-- 
 		<property name="emailAddress" value="sunrisers@hyderbad.com"></property>
 		<property name="teamName" value="Sunrisers Hyderabad"></property>
 		 -->
 		 <!-- loading values from properties file -->
 		 <property name="emailAddress" value="${data.emailId}"></property>
 		<property name="teamName" value="${data.teamName}"></property>
 	</bean>
 	
 	
    <!-- define the dependency -->
    <bean id="myFortuneService"
    		class="com.springboot.services.HappyFortuneService">
    </bean>
    
    
</beans>