<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="helloWorld" class="com.spring.HelloWorld">
		<property name="name" value="Valtech"></property>
	</bean>
	<!--
	<bean id="quizMaster" class="com.spring.SpringMaster"></bean>
	-->
	<bean id="strutsMaster" class="com.spring.StrutsMaster"></bean>
	
	<bean id="user" class="com.spring.User">
		<constructor-arg value="001"></constructor-arg>
		<constructor-arg value="99162"></constructor-arg>
		<constructor-arg value="Valtech"></constructor-arg>
		<constructor-arg value="Spring"></constructor-arg>
	</bean>
	
	<bean id="quizMasterService" class="com.spring.QuizMasterService" autowire="constructor">
		
	</bean>
	
	<bean id="minstrel" class="com.spring.Minstrel"></bean>
	<bean id="quest" class="com.spring.HolyGrailQuest"></bean>
	
	<bean id="knight" class="com.spring.KnightOfTheRoundTable">
		<constructor-arg value="King Arthur"></constructor-arg>
		<property name="quest" ref="quest"></property>
	</bean>
	
	<!-- aop configurations goes here 
	<aop:config>

		<aop:aspect ref="minstrel">
			<aop:pointcut expression="execution(* *.embarkOnQuest(..)) and target(bean)" 
				id="questPointcut"/>
			<aop:before method="singBefore" pointcut-ref="questPointcut" arg-names="bean"/>
			<aop:after-returning method="singAfter" pointcut-ref="questPointcut" arg-names="bean"/>
		</aop:aspect>

	</aop:config> -->
	
	<!-- Scan context package for any eligible annotation configured beans.
    <context:component-scan base-package="com.spring" />-->
	 
</beans>